* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --negro: rgb(0, 0, 0);
  --blanco: rgb(255, 255, 255);
  --primario: #7C007C;
  --primario-hover: #9a14ec;
  --secundario: #13886F;
  --secundario-hover: #9B00FF;
  --background: rgba(184, 184, 184, 0.685);
  --gris: rgb(240, 240, 240);
  --terciario: #2f2e41; 
}

body {
  font-family: "Electrolize", sans-serif;
  /* font-family: 'Russo One', sans-serif; */
  background-color: var(--blanco);
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  /* font-family: 'Russo One', sans-serif; */
  font-size: 90px;
  margin-bottom: 12px;
  /* font-style: italic; */
}

h2 {
  
  font-family: 'Russo One', sans-serif;
  font-size: 55px;
}

.navbar {
  display: flex;
  background-color: var(--negro);
  box-shadow: 5px 0 15px 0 var(--secundario);
  justify-content: flex-end;
  padding: 32px;
  position: fixed;
  width: 100%;
}

.list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 40rem;
}

.item-list {
  box-sizing: border-box;
  border-radius: 10rem;
  color: var(--blanco);
  padding: 0.8rem 1.5rem;
  transition: 200ms;
  font-size: 15px;
  font-family: 'Russo One', sans-serif;
}

.item-list:hover {
  background-color: var(--secundario-hover);
  transition: 150ms;
}

.item-list:active,
.item-list:focus {
  box-shadow: inset 0 0 0 2px var(--blanco);
  outline: transparent;
  transition: 200ms;
}

.cta {
  /*
      En el Call To Action solo agrego la diferencia.
    */
  background-color: var(--primario);
  /* color: var(--gris); */
  /* box-shadow: 0px 0px 15px 0px rgba(151, 29, 125, 0.89); */
  /* margin-left: 1rem; */
}

.cta:hover {
  background-color: var(--primario-hover);
  
}

.cta:focus {
  box-shadow: 0px 0px 10px 1px var(--secundario-hover)

}

.presentacion {
  padding: 165px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.algoandamal {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.pr {
  font-size: 35px;
 
}

.rp {
  font-size: 17px;
  font-style: italic;
  
}

 /* .preimage {
  
  border: 2px solid red; 
  
  }  */

.img {
  max-width: 500px;
  width: 100%;
  /* border-radius: 200px; */
  /* border: 2px solid red; */
}

.veamos {
  background-color: var(--primario);
  /* display: flex; */
  /* align-items: center; */
  /* border: 2px solid red; */
  width: 150px;
  border-radius: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  color: var(--blanco);
  font-family: 'Russo One', sans-serif;
  font-size: 15px;
  
}

.veamos:focus {

  box-shadow: inset 0 0 0 2px var(--negro);
  outline: transparent;
  transition: 200ms;
}

.contenedor {
  padding: 70px 0px 90px;
  background-color: var(--gris);
}

.conocimientos-seccion {
  display: flex;
  justify-content: center;
  /* border: 2px solid violet; */
  flex-direction: column;
  align-items: center;
  max-width: 1100px;
  margin: auto;
}

.secciondos {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 80px 40px 130px;  */
  background-color: var(--gris);
}

.descripcion {
  max-width: 501px;
  line-height: 1.5;
  font-size: 20px;
  padding: 30px 0px 5px;
}

.sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.seccion-proyectos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--blanco);
  margin: 130px 0px;
}

.caja-proyectos {
  display: flex;
  justify-content: center;
  /* border: 2px solid violet; */
  flex-direction: column;
  align-items: center;
  max-width: 1100px;
  margin: auto;
}

.cajas {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.conocimientos div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 260px;
  background-color: #2f2e41;
  border-radius: 8px;
  border: 1px solid var(--negro);
  padding: 30px;
  margin: 10px;
  transition: 200ms;
  color: white; 
}

.fab {
  font-size: 85px;
  margin-top: 24px;
  margin-bottom: 20px;
}

.fa-html5 {
  color: #e54d26;
}

.fa-css3-alt {
  color: #3d8fc6;
}

.fa-sass {
  color: #c69;
}

.fa-js {
  color: #f0db4f;
}

.fa-react {
  color: #61dafb;
}

.fa-git-alt {
  color: #f34f29;
}

.tekno {
  font-size: 23px;
  font-weight: 200;
  /* color: var(--blanco); */
}

.conteiner {
  padding: 100px;
  background-color: var(--primario-hover);
}

.quote-icon {
  font-size: 60px;
  margin-bottom: 30px;
}

.autorx {
  margin-top: 20px;
  font-size: 40px;
}

.proyectos a {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border: 1px solid rgba(184, 184, 184, 0.685);
  /* margin: 100px; */

  height: 320px;
  overflow: hidden;
  margin: 10px;
  border-radius: 8px;
  width: calc(100% / 3 - 30px);
}

.proyectos a:hover {
  border: 1px solid var(--secundario-hover);
  /* transition: 200ms; */
  color: var(--secundario-hover);
}

.proyectos a:focus {
    box-shadow: 0px 0px 7px var(--secundario-hover);
}


.proyectos p {

color: var(--terciario);
font-size: 23px;
}

.imagen-proyecto {
  width: 100%;
  height: 210px;
  padding-bottom: 33px;
}

.avergabriel {
  width: 100%;
  max-width: 1100px;
}

.caja-proyectos p {
  margin: 30px 0px;
}

.conocimiento-item:hover {
  border: 1px solid var(--secundario-hover);
  /* transition: 200ms; */
  color: var(--secundario-hover);
}



#projects, #skills, #contact {
  padding-top: 100px;
}

@media (max-width: 900px) {
  .navbar {
    display: none;
  }
  .presentacion {
    flex-direction: column;
    padding: 70px 40px;
  }

  .img {
    margin: 130px 0px;
    max-width: 400px;
  }

  .proyectos a {
    width: calc(100% / 2 - 30px);
  }
}

