* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --negro: rgb(0, 0, 0);
  --blanco: rgb(255, 255, 255);
  --primario: #7c007c;
  --primario-hover: #9a14ec;
  --secundario: #13886f;
  --secundario-hover: #9b00ff;
  --background: rgba(184, 184, 184, 0.685);
  --gris: rgb(235, 235, 235);
  --terciario: #2f2e41;
  --seleccion: rgba(245, 187, 187, 0.445);
}

/* Estilo Scrollbar */

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secundario);
  /* outline: 2px solid var(--secundario-hover); */
  box-shadow: inset 4px 0 4px 0 rgb(0 0 0 / 25%);
}
body::-webkit-scrollbar-thumb:hover {
  background-color: var(--secundario-hover);
  box-shadow: inset 4px 0 4px 0 rgb(0 0 0 / 30%);
}





body {
  font-family: "Electrolize", sans-serif;
  background-color: var(--blanco);
  font-size: 17px;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 90px;
  margin-bottom: 12px;
}

h2 {
  font-family: "Russo One", sans-serif;
  font-size: 55px;
}

p::selection {
  background-color: var(--seleccion);
}

.navbar {
  display: flex;
  background-color: var(--negro);
  box-shadow: 5px 0 15px 0 var(--secundario);
  justify-content: flex-end;
  padding: 32px;
  position: fixed;
  width: 100%;
}

.list {
  display: flex;
  justify-content: space-between;
  width: 640px;
}

.item-list {
  box-sizing: border-box;
  border-radius: 160px;
  color: var(--gris);
  padding: 12px 25px;
  transition: 200ms;
  font-size: 15px;
  font-family: "Russo One", sans-serif;
}

.item-list:hover {
  background-color: var(--secundario-hover);
  transition: 150ms;
}

.item-list:active,
.item-list:focus {
  box-shadow: inset 0 0 0 2px var(--blanco);
  outline: transparent;
  transition: 200ms;
}

.cta {
  background-color: var(--primario);
}

.cta:hover {
  background-color: var(--primario-hover);
}

.cta:focus {
  box-shadow: 0px 0px 10px 1px var(--secundario-hover);
}

.presentacion {
  padding: 165px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.algoandamal {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.pr {
  font-size: 35px;
}

.rp {
  font-size: 17px;
  font-style: italic;
}

.img {
  max-width: 500px;
  width: 100%;
}

.boton-sobre-mi {
  background-color: var(--primario);
  width: 150px;
  border-radius: 160px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  color: var(--gris);
  font-family: "Russo One", sans-serif;
  font-size: 15px;
}

.boton-sobre-mi:focus {
  box-shadow: inset 0 0 20px 3px var(--secundario);
  outline: transparent;
  transition: 200ms;
}

.contenedor {
  padding: 190px 0px 125px;
  background-color: var(--gris);
  display: flex;
  justify-content: center;
}

.conocimientos-seccion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1100px;
  margin: auto;
}

.secciondos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gris);
}

.descripcion-titulo::selection {

background-color: var(--seleccion);

}

.descripcion-parrafo {
  max-width: 501px;
  line-height: 1.5;
  padding: 30px 0px 5px;
  text-align: center;
}

.sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.seccion-proyectos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--blanco);
  margin: 130px 0px;
}

.caja-proyectos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1100px;
  margin: auto;
}

.cajas {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.conocimientos div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 260px;
  background-color: var(--terciario);
  border-radius: 8px;
  border: 1px solid var(--negro);
  padding: 30px;
  margin: 10px;
  transition: 200ms;
  color: var(--blanco);
}

.icono {
  font-size: 85px;
  margin-top: 24px;
  margin-bottom: 20px;
}

.fa-html5 {
  color: #e54d26;
}

.fa-css3-alt {
  color: #3d8fc6;
}

.fa-sass {
  color: #c69;
}

.fa-js {
  color: #f0db4f;
}

.fa-react {
  color: #61dafb;
}

.fa-git-alt {
  color: #f34f29;
}

.tekno {
  font-size: 23px;
  font-weight: 200;
}

.conteiner {
  padding: 100px 0px 100px 0px;
  background-color: var(--primario-hover);
}

.quote-icon {
  font-size: 60px;
  margin-bottom: 30px;
}

.autorx {
  margin-top: 20px;
  font-size: 40px;
}

.proyectos a {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border: 1px solid var(--background);
  height: 320px;
  overflow: hidden;
  margin: 10px;
  border-radius: 8px;
  width: calc(100% / 3 - 30px);
  outline: transparent;
}

.proyectos a:hover {
  border: 1px solid var(--secundario-hover);
  transition: 200ms; 
  color: var(--secundario-hover);
}

.proyectos a:focus {
  box-shadow: 0px 0px 7px var(--secundario-hover);
}

.proyectos p {
  /* color: var(--terciario); si comento esto me funciona el hover :( */
  font-size: 23px;
}

.imagen-proyecto {
  width: 100%;
  height: 210px;
  padding-bottom: 33px;
}

.avergabriel {
  width: 100%;
  max-width: 1100px;
}

/* .caja-proyectos p {
  margin: 30px 0px;
} */

.conocimiento-item:hover {
  border: 1px solid var(--secundario-hover);
  /* transition: 200ms; */
  color: var(--secundario-hover);
}

#projects,
#skills,
#contact {
  padding-top: 100px;
}

.contenedor-contacto {
  display: flex;
  border: 1px solid var(--background);
  max-width: 1100px;
  /* margin: auto; */
  justify-content: space-around;
  background-color: var(--blanco);
  padding: 0px 50px 70px;
  border-radius: 15px;
}

.seccion-contactame {
  padding-right: 150px;
}

.contactame {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
}

.parrafo-contacto {
  max-width: 500px;
  line-height: 1.5;
  font-size: 17px;
  padding-top: 30px;
}

.contenedor-lista-contacto {
  /* width: 242px; */
  display: flex;
}

.lista-contacto {
  margin-top: 40px;
}

.contacto-redes {
  display: flex;
  /* margin: 5px 0;  */
}

.contacto-icon {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  color: var(--negro);
  outline: transparent;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  text-align: center;
  line-height: 32px;
  width: 50px;
  height: 50px;
  margin: 0px 10px 0px 15px;
  transition: 250ms;
  border-radius: 50%;
}

.contacto-icon:hover {
  color: var(--secundario);
}

.contacto-icon:hover .icon {
  background-color: var(--secundario);
  color: var(--negro);

  /* width: 32px;
  height: 32px; */
}

.contacto-icon:focus {
  box-shadow: 0px 0px 5px 1px var(--terciario);
  border-radius: 100px;
  width: fit-content;
  padding-right: 32px;
}

/* .contenedor-formulario {
  display: flex;
} */

.form {
  display: flex;
  flex-direction: column;
  padding: 0px 5px; 
}

.cajas-formulario {
  display: flex;
  /* justify-content: flex-start; */
  /* flex-wrap: wrap; */
  padding-top: 30px;
}

.item-formulario {
  margin-right: 5px;
  width: 100%;
  /* align-items: center; */
}

/* .caja-formulario .item-formulario:nth-of-type(1) {

  margin-right: 15px; 
}
  
.caja-formulario .item-formulario:nth-of-type(2) {
  margin-left: 15px;
}
   */

input {
  border: 0;
  border-radius: 100px;
  outline: transparent;
  margin: 15px 0px;
  padding: 10px 0px 10px 13px;
  font-size: 15px;
  width: 100%;
  background-color: var(--gris);
}

textarea {
  border: 0;
  border-radius: 30px;
  outline: transparent;
  margin: 15px 0px;
  padding: 10px 0px 10px 13px;
  font-size: 15px;
  width: 100%;
  background-color: var(--gris);
}

input:focus {
  box-shadow: 0px 0px 5px 1px var(--terciario);
  background-color: var(--seleccion);
}

textarea:focus {
  box-shadow: 0px 0px 5px 1px var(--terciario);
  background-color: var(--seleccion);
}

/* .item-mensaje {

    width: 400px;
    height: 90;
   } */

.send-form {
  border: 0;
  outline: transparent;
  background-color: var(--primario);
  /* display: flex; */
  /* align-items: center; */
  /* border: 2px solid red; */
  width: 150px;
  border-radius: 160px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 18px;
  color: var(--blanco);
  font-family: "Russo One", sans-serif;
}

input:invalid:not(:placeholder-shown),
textarea:invalid:not(:placeholder-shown) {
  border: 1px solid #f5414f;
}

input:valid:not(:placeholder-shown),
textarea:valid:not(:placeholder-shown) {
  border: 1px solid green;
}

footer {
  /* box-shadow: 5px 0 15px 0 var(--secundario); */
  padding: 75px 0px 45px;
}

.footer-navbar {
  /* display: flex;
justify-content:center;   */
  background-color: var(--negro);
  font-family: "Russo One", sans-serif;
}

.contenedor-navbar {
  display: flex;
  justify-content: center;
  color: var(--negro);
  outline: transparent;
}

.lista-navbar {
  display: flex;
  justify-content: center;
}

.algo {
  display: flex;
  justify-content: center;
  color: var(--blanco);
  padding: 10px 15px;
  outline: transparent;
}

.algo:focus {
  box-shadow: inset 0 0 5px 1px var(--secundario);
  transition: 200ms;
}

.signature {
  display: flex;
  justify-content: center;
  color: var(--blanco);
  padding-top: 25px;
}

.footer-social-links {
  display: flex;
  justify-content: center;
  color: var(--blanco);
  padding: 15px 10px;
  outline: transparent;
}

.footer-icon {
  margin: 0;

  color: var(--negro);
}

.footer-icon:hover {
  color: var(--primario-hover);
  background-color: var(--negro);
  border: 1px solid var(--blanco);
}

.contenedor-icon {
  display: flex;
}

.footer-link {
  margin: 0px 12px;
  background-color: var(--primario-hover);
  border-radius: 50%;
}

.footer-link:focus {
  box-shadow: inset 0 0 10px 5px var(--secundario);
  transition: 200ms;
  outline: none;
}

@media (max-width: 900px) {
  .navbar {
    display: none;
  }
  .presentacion {
    flex-direction: column;
    padding: 70px 40px;
  }

  .img {
    margin: 130px 0px;
    max-width: 400px;
  }

  .proyectos a {
    width: calc(100% / 2 - 30px);
  }

  .contenedor-contacto {
    flex-direction: column;
    border: none;  
  }

  #contact {
    padding-top: 50px;
  }

  .contacto-redes {
    width: 50%;
  }

  .seccion-contactame {
    padding-right: 0;
  }

  .lista-contacto {
    display: flex;
    flex-wrap: wrap;
  }
  .contenedor {
    padding: 0 0 150px;
  }

}

@media (max-width: 600px) {
.contenedor-navbar {
display:none; 
} 


.contenedor-contacto {
  padding: 0 5px;
  }

.contenedor {
padding: 0; 
}  

.sec {
  margin-bottom: 100px;
}

.descripcion {
padding: 15px;
}

p, h2 {
padding: 15px;

}

.send-form {
  margin: 10px 0 60px 0; 
}
} 

@media (max-width: 560px) {
  .proyectos a {
    width: 100%;
  }

  .lista-contacto {
    display: block;
  }

  h2 {
font-size: 45px;  
  }


}

@media (max-width: 500px) {

.cajas-formulario {
flex-direction: column;

}

.contactame {
padding: 0;
}

.send-form {
margin-bottom: 150px;
}

 p, h2 {
padding: 0;
} 

}

@media (max-width: 460px) {

.descripcion-titulo {
  text-align: center;
}

.descripcion-parrafo {
text-align: center;

}

}

@media (max-width: 340px) {

h1 {
  font-size: 80px; 
}
  h2 {
font-size: 40px;
}


}

